{% extends 'users/base.html' %}

{% block head_content %}
    <title>Platzigram sign in</title>
{% endblock head_content %}


{% block container %}

    {% if form.error %}
        <p class="alert alert-danger">
            Your username or password didn't match. Please try again.
        </p>
    {% endif %}

    <form method="POST" action="{% url "users:login" %}">
        {% csrf_token %} {% comment %} Esto sirve para decirle a Django que estamos autorizados a realizar metodos POST con un Token autogenerado {% endcomment %}
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="User">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block mt-5">Sing in!</button>
        </div>

        <p class="mt-4">Don't have an account yet? <a href="{% url "users:signup" %}">Sign up here!</a></p>
    </form>
{% endblock container %}
